# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
bin/
lib/
include/
local/

# Environments
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
.eslintcache
.stylelintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
